[submodule ".vim/pack/gitsubm_mnged/start/vim-airline"]
	path = .vim/pack/gitsubm_mnged/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/gitsubm_mnged/start/ctrlp"]
	path = .vim/pack/gitsubm_mnged/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
